<header>
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a routerLink="/products" class="navbar-brand">Diveshop</a>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" routerLinkActive="active">
        <a routerLink="/products" class="nav-item nav-link">Wetsuits</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="addProduct" class="nav-item nav-link">Product toevoegen</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/adminadd" class="nav-item nav-link"> Lijst gebruikers
        </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 mr-5">
    <button class="btn btn-outline-info" type="button" routerLink="/shoppingcart">Shopping Cart</button>
    <button class="btn btn-outline-success ml-4" type="button" routerLink="/login">Login</button>
    </form>
  </div>
</nav>
</header>
